`SATIVA` requires a 'taxonomy file', i.e. a text file that links each sequence record to a ncbi taxonomic id (aka `taxid` - see [here](http://www.ncbi.nlm.nih.gov/taxonomy)).

We are going to generate this file from a bunch of sequence records downloaded from Genbank.


We have downloaded our reference sequences from Genbank in the so-called, `genbank` format, which is a rich format containing all sorts of metadata for every sequence record, including a specific taxonomic id (`taxid`), i.e. a identity number that uniquely identifies every species (and also higher taxonomic levels, such as genera, families, classes, etc) recorded on Genbank.

Let's parse our Genbank file using Biopython.

In [1]:
from Bio import SeqIO

records = SeqIO.to_dict(SeqIO.parse(open('../build_tree/CytB_nr_pre_Sativa.gb','r'),'genbank'))


In the below cell we display the first of our sequence records in Genbank format. Try to identify the `taxid` of the record and use NCBI's taxonomy database ([here](http://www.ncbi.nlm.nih.gov/taxonomy)) to retrieve the full taxonomic tree for the taxon.

In [2]:
for r in records.keys():
    print records[r].format('genbank')
    break

LOCUS       JQ661453                1141 bp    DNA              VRT 06-JUN-2012
DEFINITION  Coregonus lavaretus isolate R11 mitochondrion, complete genome.
ACCESSION   JQ661453
VERSION     JQ661453.1  GI:378968014
KEYWORDS    .
SOURCE      mitochondrion Coregonus lavaretus (common whitefish)
  ORGANISM  Coregonus lavaretus
            Eukaryota; Metazoa; Chordata; Craniata; Vertebrata; Euteleostomi;
            Actinopterygii; Neopterygii; Teleostei; Protacanthopterygii;
            Salmoniformes; Salmonidae; Coregoninae; Coregonus.
REFERENCE   1  (bases 1 to 16736)
  AUTHORS   Jacobsen,M.W., Hansen,M.M., Orlando,L., Bekkevold,D., Bernatchez,L.,
            Willerslev,E. and Gilbert,M.T.
  TITLE     Mitogenome sequencing reveals shallow evolutionary histories and
            recent divergence time between morphologically and ecologically
            distinct European whitefish (Coregonus spp.)
  JOURNAL   Mol. Ecol. 21 (11), 2727-2742 (2012)
   PUBMED   22509795
REFERENCE   2  (bases 1 to 16736)
  AUTHORS   Jacobsen,M.W., Hansen,M.M., Orlando,L., Bekkevold,D., Bernatchez,L.,
            Willerslev,E. and Gilbert,M.T.P.
  TITLE     Direct Submission
  JOURNAL   Submitted (10-FEB-2012) Department of Bioscience, University of
            Aarhus, Ny Munkegade 114, Aarhus C 8000, Denmark
FEATURES             Location/Qualifiers
     source          1..1141
                     /country="Denmark: sample from Ringk bing fjord"
                     /db_xref="taxon:59291"
                     /feature_id="JQ661453.1_source"
                     /isolate="R11"
                     /mol_type="genomic DNA"
                     /note="modified from original record: cropped to only CDS
                     of CYTB"
                     /organelle="mitochondrion"
                     /organism="Coregonus lavaretus"
     CDS             1..1141
                     /GC_content="48.2909728309"
                     /codon_start=1
                     /db_xref="GI:378968027"
                     /feature_id="JQ661453.1_f0"
                     /gene="CYTB"
                     /note="TAA stop codon is completed by the addition of 3' A
                     residues to the mRNA"
                     /nuc_degen_prop="0.0"
                     /product="cytochrome b"
                     /prot_degen_prop="0.0"
                     /protein_id="AFC77374.1"
                     /transl_except=(pos:15520,aa:TERM)
                     /transl_table=2
                     /translation="MANLRKTHPLLKIANDALVDLPAPSNISVWWNFGSLLGLCLATQI
                     LTGLFLAMHYTSDISTAFSSVCHICRDVSYGWLIRNIHANGASFFFICIYMHIARGLYY
                     GSYLYKETWNIGVVLLLLTMMTAFVGYVLPWGQMSFWGATVITNLLSAVPYVGGALVQW
                     IWGGFSVDNATLTRFFAFHFLFPFVIAAATVIHLLFLHETGSNNPAGINSDADKISFHP
                     YFSYKDLLGFVAMLLGLTSLALFAPNLLGDPDNFTPANPLVTPPHIKPEWYFLFAYAIL
                     RSIPNKLGGVLALLFSILVLMVVPILHTSKQRGLTFRPLTQFLFWTLVADMLILTWIGG
                     MPVEHPFIIIGQVASVIYFTIFLVLAPLAGWAENKALEWA"
ORIGIN
        1 atggctaacc tccgaaaaac ccaccccctc ctaaagattg ctaatgacgc actagtcgat
       61 cttccagcgc cctcaaacat ctcagtgtga tgaaactttg gctcacttct gggcttatgt
      121 ttagccaccc aaattctcac aggacttttc ctggccatgc actacacttc tgacatctca
      181 acagccttct cctccgtgtg ccatatttgc cgagatgtca gctacggctg acttatccga
      241 aatattcacg ccaatggagc atctttcttc tttatctgca tttatataca cattgcccga
      301 ggactttact atggctccta cctatacaaa gaaacctgaa atattggggt tgtccttcta
      361 ctccttacaa taataactgc ctttgtgggc tacgttcttc catgaggaca aatatctttc
      421 tgaggtgcaa cagtcatcac aaacctcctt tctgccgtgc cctacgtagg gggcgccctt
      481 gtgcagtgaa tctgaggtgg gttttccgta gataatgcca ccctaacacg gttttttgcc
      541 tttcacttct tattcccatt tgttattgca gctgcaacag tcatccacct cctcttcctt
      601 catgaaactg ggtctaacaa cccagcaggg atcaactctg atgccgataa aatctcattc
      661 cacccctact tctcatacaa agacctgttg ggatttgtgg ctatactact aggactaaca
      721 tccttggcac tatttgcacc caacctcttg ggggacccag ataattttac accggccaac
      781 ccactagtca ccccgcccca catcaagcct gagtgatact tcctcttcgc ctacgcaatc
      841 ctacgatcga tccccaacaa gctaggcggg gtcctcgccc tgctattctc tatcctcgta
      901 ctcatggtcg tccccattct acatacctct aagcagcgag gactaacctt ccggcccctt
      961 acgcaattct tattctgaac cctagtagca gacatgctca tcctcacctg aattggcggt
     1021 atacctgtag aacacccctt catcatcatc ggccaagtcg cctcagttat ctacttcacc
     1081 atcttcctag tcttggcccc cttagccgga tgagctgaga ataaagccct cgaatgagcc
     1141 t
//

We don't want to make our lives harder than it already is and deal with _subspecies_ so in the tax file for `SATIVA` we'll only do species.

Iterate over all records and check if taxid is subspecies, if yes replace with taxid of species and extract taxonomy line. If it's a subspecies record the record id for further processing.

In [4]:
from collections import defaultdict

taxon_to_taxid = {}
recs_to_adjust = []
taxon_to_recs = defaultdict(list)

for key in records.keys():
    r = records[key]
   
    source = [f for f in r.features if f.type == 'source'][0]
    if (len(source.qualifiers['organism'][0].split(" ")) == 2):
#        print source.qualifiers['organism'][0],
        if 'db_xref' in source.qualifiers:
#            print source.qualifiers['db_xref']
            for t in source.qualifiers['db_xref']:
#                print t
                if 'taxon' in t:
                    if not source.qualifiers['organism'][0] in taxon_to_taxid:
#                        print " .. add to records"
                        taxon_to_taxid[source.qualifiers['organism'][0]] = t.split(":")[1]
#                    else:
#                        print " .. already covered"
                    taxon_to_recs[source.qualifiers['organism'][0]].append(r.id)
    elif (len(source.qualifiers['organism'][0].split(" ")) > 2 and source.qualifiers['organism'][0].split(" ")[1] == 'sp.'):
#        print source.qualifiers['organism'][0],
        if 'db_xref' in source.qualifiers:
            for t in source.qualifiers['db_xref']:
                if 'taxon' in t:
                    if not str(t) in taxon_to_taxid:
                        taxon_to_taxid[source.qualifiers['organism'][0]] = str(t)
#                    else:
#                        print " .. already covered" 
                    taxon_to_recs[source.qualifiers['organism'][0]].append(r.id)
    else:
#        print "subspecies: %s" %source.qualifiers['organism'][0]
        recs_to_adjust.append(r.id)

For the records that were identified as being _subspecies_ reduce to species and check whether the `taxid` for the species had already been encountert before. If not we 'd need to fetch it from NCBI.

In [5]:
from collections import defaultdict

to_fetch = defaultdict(list)

for key in records.keys():
    r = records[key]
    if r.id in recs_to_adjust:
        source = [f for f in r.features if f.type == 'source'][0]
        adjust_from = source.qualifiers['organism'][0]
        adjust_to = " ".join(adjust_from.split(" ")[:2])
#        print "%s -> %s" %(adjust_from,adjust_to)
        if adjust_to in taxon_to_taxid:
            taxon_to_recs[adjust_to].append(r.id)
        else:
            to_fetch[adjust_to].append(r.id)

Check if we are good, or if there are any taxids missing.

In [6]:
if to_fetch:
    print "need to fetch some taxids"
else:
    print "Have taxids for all records"

need to fetch some taxids

In [7]:
print to_fetch

defaultdict(<type 'list'>, {'Chondrostoma nasus': ['EF363342.1', 'EF363351.1', 'EF363366.1', 'EF363365.1', 'EF363340.1']})

In [14]:

from Bio import Entrez
Entrez.email = "c.hahn@hull.ac.uk"

for binomial in to_fetch:
    print binomial
    handle = Entrez.esearch(db="Taxonomy", term=binomial)
    record = Entrez.read(handle)
    print record["IdList"][0]
    taxon_to_taxid[binomial] = record["IdList"][0]
    
    taxon_to_recs[binomial] = to_fetch[binomial]

Chondrostoma nasus
52619

Write taxids to file and fetch full taxonomy for all of them using `taxit` from the [taxtastic](http://fhcrc.github.io/taxtastic/index.html#) package.

In [17]:
taxids = []

out=open("taxids.txt",'w')
for sp in taxon_to_taxid:
    taxids.append(taxon_to_taxid[sp])
    out.write(taxon_to_taxid[sp]+"\n")
out.close()

Create tab-delimited text file with full taxonomic tree for each `taxid`.

In [18]:
!taxit taxtable -d /usr/bin/taxonomy.db -t taxids.txt -o taxa.csv

 

The full 'taxonomy string' for a given taxon as returned from NCBI could look, e.g. like so:

```
cellular organisms; Eukaryota; Opisthokonta; Metazoa; Eumetazoa; Bilateria; Deuterostomia; Chordata; Craniata; Vertebrata; Gnathostomata; Teleostomi; Euteleostomi; Actinopterygii; Actinopteri; Neopterygii; Teleostei; Osteoglossocephalai; Clupeocephala; Euteleosteomorpha; Protacanthopterygii; Salmoniformes; Salmonidae; Salmoninae; Salmo; Salmo trutta
```

The number of taxonomic levels in the taxonomy string may vary between taxa. Some taxonomic groups are classified into relatively uncommon intermediate taxonomic levels, that may not exist for other taxa. 

In order to make our lives easier downstream we will limit ourselves only to a defined set of the most common taxonomic levels, that should be known for pretty much all taxa.


- superkingdom
- phylum
- class
- order
- family
- genus
- species

Extract 'taxonomy sring' for a specific set of taxonomic levlels.

In [19]:
from collections import defaultdict

tax_levels=['superkingdom','phylum','class','order','family','genus','species']
indices = []
taxdict = defaultdict(list)
taxids_to_taxonomy = {}

infile=open("taxa.csv",'r')
header=infile.next()

header_as_list=header.strip().replace('"','').split(",")
for i in range(len(header_as_list)):
#    print header_as_list[i]
    if header_as_list[i] in tax_levels:
#        print "\t"+header_as_list[i],i
        indices.append(i)

for line in infile:
    line_as_list=line.strip().replace('"',"").split(",")
    taxdict[line_as_list[0]] = line_as_list[1:]

infile.close()

for t in taxids:
    print t,
#    print taxdict[t]
    taxonomy=""
    for i in range(len(tax_levels)):
        if taxdict[t][indices[i]-1] == "":
            taxonomy+='unknown'+';'
        else:
            taxonomy+=taxdict[taxdict[t][indices[i]-1]][2]+";"
    print taxonomy[:-1]
    taxids_to_taxonomy[t] = taxonomy[:-1]

48668 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Rutilus;Rutilus rutilus
322563 Eukaryota;Chordata;Actinopteri;Gobiiformes;Gobiidae;Proterorhinus;Proterorhinus semilunaris
8030 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Salmo;Salmo salar
58325 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Leuciscus;Leuciscus leuciscus
69944 Eukaryota;Chordata;Actinopteri;Gadiformes;Lotidae;Lota;Lota lota
58324 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Phoxinus;Phoxinus phoxinus
7748 Eukaryota;Chordata;unknown;Petromyzontiformes;Petromyzontidae;Lampetra;Lampetra fluviatilis
40830 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Barbus;Barbus barbus
8010 Eukaryota;Chordata;Actinopteri;Esociformes;Esocidae;Esox;Esox lucius
8017 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Oncorhynchus;Oncorhynchus gorbuscha
27773 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Coregonus;Coregonus autumnalis
135647 Eukaryota;Chordata;Actinopteri;Cypriniformes;Nemacheilidae;Barbatula;Barbatula barbatula
38527 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Abramis;Abramis brama
98395 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cobitidae;Cobitis;Cobitis taenia
7957 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Carassius;Carassius auratus
8284 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Squalius;Squalius cephalus
320565 Eukaryota;Chordata;Actinopteri;Gobiiformes;Gobiidae;Ponticola;Ponticola kessleri
90988 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Pimephales;Pimephales promelas
7936 Eukaryota;Chordata;Actinopteri;Anguilliformes;Anguillidae;Anguilla;Anguilla anguilla
58323 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Leucaspius;Leucaspius delineatus
59291 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Coregonus;Coregonus lavaretus
7984 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cobitidae;Misgurnus;Misgurnus fossilis
7959 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Ctenopharyngodon;Ctenopharyngodon idella
7962 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Cyprinus;Cyprinus carpio
8038 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Salvelinus;Salvelinus fontinalis
27717 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Tinca;Tinca tinca
52619 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Chondrostoma;Chondrostoma nasus
8168 Eukaryota;Chordata;Actinopteri;Perciformes;Percidae;Perca;Perca fluviatilis
348708 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Coregonus;Coregonus oxyrinchus
69293 Eukaryota;Chordata;Actinopteri;Perciformes;Gasterosteidae;Gasterosteus;Gasterosteus aculeatus
27704 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Gobio;Gobio gobio
54556 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Alburnus;Alburnus alburnus
7965 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Hypophthalmichthys;Hypophthalmichthys nobilis
36185 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Thymallus;Thymallus thymallus
27706 Eukaryota;Chordata;Actinopteri;Centrarchiformes;Centrarchidae;Micropterus;Micropterus salmoides
100952 Eukaryota;Chordata;Actinopteri;Perciformes;Cottidae;Cottus;Cottus gobio
219545 Eukaryota;Chordata;Actinopteri;Siluriformes;Ictaluridae;Ameiurus;Ameiurus melas
61674 Eukaryota;Chordata;Actinopteri;Acipenseriformes;Acipenseridae;Acipenser;Acipenser sturio
58321 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Alburnoides;Alburnoides bipunctatus
51549 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Pseudorasbora;Pseudorasbora parva
8260 Eukaryota;Chordata;Actinopteri;Pleuronectiformes;Pleuronectidae;Platichthys;Platichthys flesus
13095 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Hypophthalmichthys;Hypophthalmichthys molitrix
134920 Eukaryota;Chordata;Actinopteri;Perciformes;Gasterosteidae;Pungitius;Pungitius pungitius
75934 Eukaryota;Chordata;Actinopteri;Esociformes;Umbridae;Umbra;Umbra pygmaea
283035 Eukaryota;Chordata;Actinopteri;Perciformes;Percidae;Sander;Sander lucioperca
8022 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Oncorhynchus;Oncorhynchus mykiss
58327 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Rhodeus;Rhodeus sericeus
155067 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Vimba;Vimba vimba
36180 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Coregonus;Coregonus albula
8036 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Salvelinus;Salvelinus alpinus
270329 Eukaryota;Chordata;Actinopteri;Centrarchiformes;Centrarchidae;Lepomis;Lepomis gibbosus
109273 Eukaryota;Chordata;Actinopteri;Centrarchiformes;Centrarchidae;Ambloplites;Ambloplites rupestris
58319 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Scardinius;Scardinius erythrophthalmus
47308 Eukaryota;Chordata;Actinopteri;Gobiiformes;Gobiidae;Neogobius;Neogobius melanostomus
278165 Eukaryota;Chordata;Actinopteri;Clupeiformes;Clupeidae;Alosa;Alosa fallax
57865 Eukaryota;Chordata;Actinopteri;Perciformes;Percidae;Gymnocephalus;Gymnocephalus cernua
69811 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Leuciscus;Leuciscus idus
27778 Eukaryota;Chordata;Actinopteri;Siluriformes;Ictaluridae;Ameiurus;Ameiurus nebulosus
278164 Eukaryota;Chordata;Actinopteri;Clupeiformes;Clupeidae;Alosa;Alosa alosa
58317 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Blicca;Blicca bjoerkna
29151 Eukaryota;Chordata;Actinopteri;Osmeriformes;Osmeridae;Osmerus;Osmerus eperlanus
98928 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Aspius;Aspius aspius
94993 Eukaryota;Chordata;Actinopteri;Siluriformes;Siluridae;Silurus;Silurus glanis
7750 Eukaryota;Chordata;unknown;Petromyzontiformes;Petromyzontidae;Lampetra;Lampetra planeri
8032 Eukaryota;Chordata;Actinopteri;Salmoniformes;Salmonidae;Salmo;Salmo trutta
217509 Eukaryota;Chordata;Actinopteri;Cypriniformes;Cyprinidae;Carassius;Carassius carassius

Write out `*.tax` file for `SATIVA`.

In [20]:
out=open("tax_for_SATIVA.tax", 'w')

for sp in taxon_to_recs:
    for rec in taxon_to_recs[sp]:
        out.write("%s\t%s\n" %(rec,taxids_to_taxonomy[taxon_to_taxid[sp]]))
        
out.close()